.bg {
  background: linear-gradient(rgba(12, 26, 46, 0.7), rgba(4, 11, 20, 0.7)),
    url("../img/bg.png") no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 3px;
  overflow-y: hidden;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  padding: 1rem 0.2rem 0 0;
  overflow: hidden;
}

.logo img {
  -webkit-animation-name: logo;
  animation-name: logo;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.playercount {
  display: flex;
  justify-content: center;
  background-color: rgba(209, 148, 15, 0.75);
  font-size: 1em;
  color: white;
  text-align: center;
  border-radius: 8px;
  line-height: 27px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.3) 0px 1px 2px;
  width: 75%;
}

.playercount > p > span {
  font-weight: bold;
  border-radius: 3px;
  background: rgba(158, 111, 9, 0.7);
  margin: 0 2px;
}

.extrapad {
  padding: 0;
}

.ip {
  cursor: pointer;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-pack: distribute;
  -ms-flex-preferred-size: 100px;
  flex-wrap: wrap;
}

.item {
  padding: 1rem;
  min-width: 15rem;
  width: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item .img {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-bottom: 7px;
}

.item .img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.title {
  font-weight: bold;
  font-size: 2rem;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
}

.subtitle {
  color: #cfcfcf;
  font-size: 1rem;
}

.title,
.subtitle {
  margin: 0;
  padding: 0;
}

.section {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
  margin: 0;
  padding: 0;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-evenly;
  padding: 1.5rem 0 1.5rem 0;
  align-items: center;
  flex-wrap: wrap;
}

.info-container .info-item {
  min-width: 20rem;
  max-width: 36rem;
}

.bg-1 {
  background: linear-gradient(rgba(4, 11, 20, 0.99), rgba(4, 11, 20, 0.99)),
    url("../img/bg.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.info-container .info-title {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
  margin: 0;
  padding: 0;
}

.info-sub-container p {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
}

.info-sub-container .info-item {
  align-items: center;
  overflow: hidden;
  width: 35%;
  min-width: 30rem;
}

.info-container .info-sub-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: max-content;
  gap: 3rem;
}

.info-container .info-sub-container .info-game-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-reverse {
  flex-direction: row-reverse !important;
}

.info-container .info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  word-break: break-word;
  padding: 1rem;
}

.info-container .info-item .info-staff {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.info-container .info-item .info-staff .staff{
  display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.info-container .info-item .icon {
  height: 3rem;
}

.info-container .info-item img {
  height: 20rem;
  width: 20rem;
}

.info-container .info-item p:first-of-type {
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
}

@media (min-width: 400px) {
  .logo img {
    width: 280px; /* Change image size for mid sized devices */
  }

  .playercount {
    margin-top: 30px;
    padding: 5px;
  }

  .playercount > p > span {
    padding: 2px 7px;
  }
}

@media (min-width: 1250px) {
  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 15px;
  }

  .logo img {
    width: 470px; /* Change image size for desktop */
  }

  .logo {
    margin-bottom: 28px;
  }
  .img {
    width: 100%;
  }
  .playercount {
    font-size: 1.22em;
    padding: 10px;
  }

  .extrapad {
    padding: 0 42.5px;
  }

  .playercount > p > span {
    padding: 4px 7px;
  }
}
