/* ANIMATIONS */
@keyframes swing {
    0%, 30%, 50%, 70%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@-webkit-keyframes swing {
    0%, 30%, 50%, 70%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }

    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0%, 50% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0%, 50% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}

    .elementToFadeInAndOut {
        -webkit-animation: fadeOut 3s linear forwards;
        animation: fadeOut 3s linear forwards;
    }

    @-webkit-keyframes fadeinout {
        0%,100% {
        opacity: 0;
    }

    75%, 100% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0%,100% {
        opacity: 0;
    }

    75%, 100% {
        opacity: 1;
    }
}

/* Modal Animation */
@keyframes animatetop {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}