@using Microsoft.AspNetCore.Components.Web
@using System.Reflection
@namespace Funpixart.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Page Info -->
    <meta name="description" content="¡Bienvenido a Funpixart MC! ¡Actualmente ofrecemos una selección media de servidores que van desde 
Skyblock, Survival, Arcade, Among Us y más por implementar! Ven a descubrir lo que tenemos para ti. Puedes acceder mediante la IP 'mc.funpixart.net'.">
    <meta name="author" content="Sparkymod">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" value="notranslate">
    <!-- properties -->
    <meta property="og:site_name" content="Funpixart MC">
    <meta property="og:type" content="website">
    <base href="~/" />

    <!-- Styles -->
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/variables.css" rel="stylesheet" />
    <link href="css/funpixart.css" rel="stylesheet" />
    <link href="css/notification.css" rel="stylesheet" />

    <!-- Components -->
    <link href="css/components.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e62f0529fc.js" crossorigin="anonymous"></script>

    <!-- Isolated component styles-->
    <link rel="stylesheet" href="@(nameof(Funpixart)).styles.css" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KYBBF82B15"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KYBBF82B15');
    </script>
</head>
<body class="notranslate">
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>
