@inject NavigationManager UriHelper

<section id="about">
    <div class="info-container">
        <div class="info-item">
            <i class="fa-regular fa-circle-question icon"></i>
            <p>Estas buscando un lugar para divertirte?</p>
            <p>
                Aquí te ofreceremos un rato de diversión, donde la comunidad es nuestra prioridad!
                Esperamos que la pases bien y que almenos te saquemos una sonrisa! <i class="far fa-laugh-squint"></i>
            </p>
        </div>
        <div class="info-item" style="text-align:justify;">
            <p style="text-align:center;"><i class="fa-regular fa-copyright"></i> Funpixart Inc. 2022 - All Rights Reserved.</p>
            <p></p>
            <span style="font-style:italic; font-size:14px;">Funpixart no está afiliado de ninguna manera con Mojang, AB.</span>
        </div>
    </div>
    <div style="text-align: center; padding-bottom: 1rem; font-size: 15px;">
        More projects: 
        <a href="https://rafamod.com" title="Rafamod Personal Portafolio">Portafolio</a>
    </div>
    <div style="text-align: center; padding-bottom: 1rem; font-size: 15px;">
        <p>
            <a href="@(UriHelper.BaseUri + "rules")" target="_blank"> Normas y sanciones</a> |
            <a href="@(UriHelper.BaseUri + "privacy")" target="_blank"> Políticas de privacidad</a> |
            <a href="@(UriHelper.BaseUri + "terms")" target="_blank"> Términos y condiciones</a>
        </p>
        <p style="font-size: 13px;">Website made by
            <a href="https://github.com/sparkymod" target="_blank"> <i class="fa-brands fa-github"></i> Sparkymod</a></p>
    </div>
</section>