
<header class="bg">
    <div class="container">
        <div class="logo">
            <img src="img/logo2.png" alt="MyServer logo">
        </div>
        <div class="items">
            <a href="#gamemode" class="item">
                <div class="img">
                    <p class="subtitle">See our</p>
                    <i class="fa-solid fa-dice icon-h"></i>
                    <p class="title">Games</p>
                </div>
            </a>
            <a href="https://shop.funpixart.net" target="_blank" class="item">
                <div class="img">
                    <p class="subtitle">Donate in our</p>
                    <i class="fa-solid fa-store icon-h"></i>
                    <p class="title">Store</p>
                </div>
            </a>
            <a href="#about" class="item">
                <div class="img">
                    <p class="subtitle">Who are we?</p>
                    <i class="fa-solid fa-users icon-h"></i>
                    <p class="title">About Us</p>
                </div>
            </a>
            <a href="/vote" class="item">
                <div class="img">
                    <p class="subtitle">Vote for credits</p>
                    <i class="fa-solid fa-check-to-slot icon-h"></i>
                    <p class="title">Votes</p>
                </div>
            </a>
        </div>
        <div class="playercount">
            <p>
                @*Join <span class="sip">@Stats?.CurrentPlayers</span> other players on <span class="ip" @onclick=CopyToClipboard> mc.funpixart.net</span>*@
                Join <span class="sip">9</span> other players on <span class="ip" @onclick=CopyToClipboard> mc.funpixart.net</span>
            </p>
        </div>
    </div>
</header>