@page "/"

<section>
    <div class="info-container">
        <div class="info-item">
            <i class="fa-solid fa-rocket icon"></i>
            <p>Nuestra Historia</p>
            <p>
                Este proyecto surge de la nostalgia que una vez tuvimos cuando jugabamos al minecraft sin preocuparnos de nada. Un día, entre copas y amigos,
                surgió la charla y comenzamos a recordar esos buenos momentos que pasamos en esas épocas bonitas donde las cosas eran más fáciles de llevar
                y la vida era menos complicada! Pero esos momentos se pueden crear con una buena comunidad,
                pasando el rato y escapando de lo que nos perturba en el día a día.
            </p>
            <p><b>Qué esperas para unirte ?!</b></p>
        </div>
        <div class="info-item">
            <i class="fa-solid fa-users-line icon"></i>
            <p>El Staff</p>
            <p>Somos un equipo conformado por 4 personas </p>
            <div class="info-staff">
                <div class="staff">
                    <div>
                        <p></p>
                        <p class="badge badge-danger2">[Owner]</p>
                    </div>
                    <b>Shaditow</b>
                </div>
                <hr />
                <div class="staff">
                    <div>
                        <p></p>
                        <p class="badge badge-danger2">[Co-Owner]</p>
                        <p class="badge badge-success">[Directora de staff]</p>
                    </div>
                    <b>KathyFox</b>
                </div>
                <hr />
                <div class="staff">
                    <div>
                        <p></p>
                        <p class="badge badge-danger2">[Co-Owner]</p>
                        <p class="badge badge-info2">[Dev]</p>
                    </div>
                    <b>Sparkmod</b>
                </div>
                <hr />
                <div class="staff">
                    <div>
                        <p></p>
                        <p class="badge badge-info2">[Dev]</p>
                    </div>
                    <b>MattMC</b>
                </div>
                <hr />
            </div>
        </div>
        <div class="info-item">
            <i class="fa-brands fa-discord icon"></i>
            <p>Discord</p>
            <a href="#" target="_blank"> <p class="btn-1">Join the community!</p></a>
            <p style="padding-top:2rem; font-weight:bold; font-size: 16px;">Siguenos en nuestras redes sociales!</p>
            <div style="display:flex; flex-wrap:wrap; justify-content:center; gap: 1rem;">
                <a href="https://www.youtube.com/c/Funpixart" target="_blank">
                    <i class="fa-brands fa-youtube icon" style="color:#FF0000;"></i>
                </a>
                <a href="https://www.facebook.com/funpixart" target="_blank">
                    <i class="fa-brands fa-facebook icon" style="color:#4267B2;"></i>
                </a>
                <a href="https://www.twitch.tv/funpixart" target="_blank">
                    <i class="fa-brands fa-twitch icon" style="color:#6441a5;"></i>
                </a>
                <a href="https://twitter.com/funpixart" target="_blank">
                    <i class="fa-brands fa-twitter icon" style="color:#1DA1F2;"></i>
                </a>
                <a href="https://www.instagram.com/funpixart/" target="_blank">
                    <i class="fa-brands fa-instagram icon" style="color:#C13584;"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="gamemode">
    <div class="info-container bg-1">
        <div class="info-title">
            <h2>Modos de Juegos</h2>
        </div>
        <div class="info-sub-container">
            <div class="info-game-item">
                <div class="info-item" style="text-align:justify;">
                    <p style="font-size: 1.6rem;">Survival</p>
                    <p>- Servidor con parcelas y diferentes rangos. El más popular del servidor.</p>
                    <p><b>Ciudades disponibles:</b></p>
                    <li style="color: deepskyblue;">Atlantis</li>
                    <li style="color: darkred;">Muspelheim</li>
                    <li style="color: darkred;">Inferno</li>
                    <li style="color: darkgoldenrod;">Tierradala</li>
                    <li style="color: darkgoldenrod;">Dokusai</li>
                </div>
                <div class="info-item">
                    @*<img src="img/ciudades.png" alt="img">*@
                    <span style="color:white">Img Here</span>
                </div>
            </div>
            <hr class="w" />
            <div class="info-game-item flex-reverse">
                <div class="info-item">
                    <p style="font-size: 1.6rem;">Arcade</p>
                    <p><b>Un mundo para divertirse con diferentes modalidades como:</b></p>
                    <div class="info-list">
                        <li style="color: lawngreen">PartyGames </li>

                        <li style="color: yellow;">Templen Run </li>

                        <li style="color: orange;">Splegg </li>

                        <li style="color: cornflowerblue;">Mini Walls </li>

                        <li style="color: orangered;">TNT Tag </li>

                        <li style="color: darkviolet;">Bomb Lobbers </li>

                        <li style="color: deepskyblue;">Block Party </li>

                        <li style="color: red;">TNT run </li>

                        <li style="color: hotpink">Quake </li>
                    </div>
                </div>
                <div class="info-item">
                    @*<img src="img/arcade.png" alt="img">*@
                    <span style="color:white">Img Here</span>
                </div>
            </div>
            <hr class="w" />
            <div class="info-game-item">
                <div class="info-item">
                    <p style="font-size: 1.6rem;">KitPvP</p>
                    <p>Divierte desafiando otros jugadores, subiendo rangos y eligiendo diferentes clases para llegar a la cima!</p>
                </div>
                <div class="info-item">
                    @*<img src="img/kitpvp.png" alt="img">*@
                    <span style="color:white">Img Here</span>
                </div>
            </div>
        </div>
    </div>
</section>
