@page "/privacy"

@layout DocsLayout

<MenuHelp Title="Privacidad" ActiveMenu=2 />

<div class="help-content">
    <h1 style="text-align:center;">Políticas de privacidad</h1>
    <hr />
    <p style="font-size:12px; text-align:end;"><i><b>Actualizado:</b> 19/06/2022</i>- Sparkmod</p>
    <p>
        Los proveedores de ("Funpixart") del servicio proporcionado por este sitio web ("Funpixart")
        no son responsables del contenido y las cuentas generados por los usuarios.
        El contenido enviado expresa únicamente las opiniones de su autor.
    </p>
    <br />
    <hr />
    <h2>¿Qué información tenemos sobre usted?</h2>
    <p>El tipo de datos que recopilamos y procesamos incluye:</p>
    <ul>
        <li>
            <b>Su nombre o nombre de usuario.</b>
        </li>
        <li>
            <b>Su dirección de correo electrónico.</b>
        </li>
        <li>
            <b>Su dirección IP.</b>
        </li>
    </ul>

    <p>
        Es posible que se recopilen más datos si elige compartirlos, por ejemplo,
        si completa campos en su perfil.
    </p>
    <p>Recopilamos parte o la totalidad de esta información en los siguientes casos:</p>
    <ul>
        <li>
            Usted se registra como miembro en este sitio.
        </li>
        <li>
            Rellenas nuestro formulario de contacto.
        </li>
        <li>
            Usted navega por este sitio. Consulte la "Política de cookies" a continuación.
        </li>
        <li>
            Rellenas los campos de tu perfil.
        </li>
    </ul>
    <br />
    <hr />
    <!-- 2 -->
    <h2>¿Cómo se utiliza su información personal?</h2>
    <p>
        Podemos utilizar su información personal de las siguientes maneras:
    </p>
    <ul>
        <li>
            Con el fin de convertirlo en un miembro registrado de nuestro sitio,
            para que pueda contribuir con contenido a este sitio.

        </li>
        <li>
            Podemos utilizar su dirección de correo electrónico para informarle
            de la actividad en nuestro sitio.
        </li>
        <li>
            Su dirección IP se registra cuando realiza ciertas acciones en nuestro sitio.
            Su dirección IP nunca es públicamente visible.

        </li>
    </ul>
    <br />
    <hr />
    <h2>Otras formas en que podemos usar su información personal.</h2>
    <p>
        Además de notificarle sobre la actividad en nuestro sitio que puede ser relevante para usted,
        de vez en cuando es posible que deseemos comunicar a todos los miembros cualquier información
        importante, como boletines o anuncios por correo electrónico.
        Puede optar por recibir o no recibir dichos correos electrónicos en su perfil.
    </p>
    <p>
        Podemos recopilar información de identificación no personal sobre usted en el curso de su
        interacción con nuestro sitio. Esta información puede incluir información técnica sobre el
        navegador o el tipo de dispositivo que está utilizando. Esta información se utilizará
        únicamente con fines analíticos y de seguimiento del número de visitantes de nuestro sitio.
    </p>
    <br />
    <hr />
    <!-- 4.-->
    <h2>Mantener sus datos seguros</h2>
    <p>
        Nos comprometemos a garantizar que cualquier información que nos proporcione sea segura.
        Para evitar el acceso o la divulgación no autorizados, hemos implementado medidas y procedimientos
        adecuados para salvaguardar y proteger la información que recopilamos.
    </p>
    <br />
    <hr />
    <!-- 5.-->
    <h2>Política de cookies</h2>
    <p>
        Las cookies son pequeños archivos de texto que instalamos en su computadora y
        que nos permiten proporcionar ciertas funciones en nuestro sitio,
        como poder iniciar sesión o recordar ciertas preferencias.
    </p>
    <p>
        Tenemos una política de cookies detallada y más información sobre las cookies
        que configuramos en esta página.
    </p>
    <br />
    <hr />
    <!-- 6.-->
    <h2>Derechos</h2>
    <p>Tiene derecho a acceder a los datos personales que tenemos sobre usted u obtener una copia de los mismos. </p>
    <p>
        Para ello, póngase en contacto con nosotros. Si cree que la información que
        tenemos sobre usted está incompleta o es inexacta, puede comunicarse con
        nosotros para pedirnos que completemos o corrijamos esa información.
    </p>
    <p>
        También tiene derecho a solicitar la eliminación de sus datos personales.
        Póngase en contacto con nosotros si desea que eliminemos sus datos personales.
    </p>
    <br />
    <hr />
    <!-- 7.-->
    <h2>Aceptación de esta política</h2>
    <p>
        El uso continuado de nuestro sitio significa su aceptación de esta política.
        Si no acepta la política, no utilice este sitio.
        Al registrarse le solicitaremos además su aceptación explícita de la política de privacidad.

    </p>
    <br />
    <hr />
    <!-- 8.-->
    <h2> Cambios a esta política </h2>
    <p>
        Podemos hacer cambios a esta política en cualquier momento. 
        Es posible que se le pida que revise y vuelva a aceptar la información 
        de esta política si cambia en el futuro.
    </p>
        <br />
    <hr />
    <!-- 9.-->
    <h2> Política de privacidad CAPTCHA </h2>
    <p>
        Este sitio está protegido por reCAPTCHA y se aplican la 
        <a href="https://policies.google.com/privacy" style="color: #FECA0C; text-decoration: none;">política de privacidad</a> y 
        <a href="https://policies.google.com/terms" style="color: #FECA0C; text-decoration: none;">los términos de servicio</a>
        de Google.
    </p>
</div>
