@page "/rules"

@layout DocsLayout

<MenuHelp Title="Reglas" ActiveMenu=1 />

<div class="help-content">
    <h1 style="text-align:center;">Reglas del servidor</h1>
    <hr />
    <p style="font-size:12px; text-align:end;"><i><b>Actualizado:</b> 19/06/2022</i>- Sparkmod</p>
    <h2 style="color:red;">TLDR</h2>
    <ul>
        <li>
            <b>La no lectura de estas normas no te excluye de su cumplimiento.</b>
        </li>
        <li>
            <b>Trata a los demás como te gustaría que te traten. Esto incluye el Servidor, Foro y Discord.</b>
        </li>
        <li>
            <b>Nunca pidas ítems, comandos o rangos al STAFF.</b>
        </li>
        <li>
            <b>
                Las situaciones que no estén contempladas en este reglamento serán discutidas
                si son merecedoras de una sanción por parte del STAFF si es necesario.
            </b>
        </li>
        <li>
            <b>
                Quienes tengan historial en la lista de expulsiones, no tendrán la misma sanción.
                Esto queda a criterio del Moderador/Administrador.
            </b>
        </li>
        <li>
            <b>Las sanciones estan al final de este documento.</b>
        </li>
        <li>
            <b>Estas normas pueden cambiar en cualquier momento.</b>
        </li>
    </ul>
    <br />
    <hr />
    <!-- 1. -->
    <h2>Respeta todos los jugadores</h2>
    <p>
        Todos los jugadores tienen derecho a que les hablen de manera amistosa y respetuosa.
        Nuestro objetivo es que el servidor Funpixart sea un lugar divertido y seguro para que los jugadores
        se comuniquen entre sí de forma respetuosa.
        Nuestro entorno de chat es una buena forma de hablar con otros jugadores,
        descubrir nuevos amigos y divertirse en grupos de presión y juegos.
        Alentamos a los jugadores a cooperar y competir en un entorno positivo,
        pero nunca de una manera que no respete o abuse de otros jugadores.
    </p>
    <p>
        Respetar a los jugadores significa que los jugadores no deben crear experiencias negativas para otros jugadores.
    </p>
    <ul>
        <li>
            Discriminación: comentarios negativos relacionados con el color de la piel, el sexo u otras cualidades personales.
        </li>
        <li>
            Uso excesivo de mal lenguaje.
        </li>
        <li>
            Insultar a otros jugadores de cualquier manera.
        </li>
        <li>
            Fomentar la violencia o el odio hacia otros jugadores.
        </li>
        <li>
            Falsificar información sobre otros jugadores.
        </li>
        <li>
            Compartir la información personal de otro jugador sin su consentimiento.
        </li>
        <li>
            Flood: pegar los mismos mensajes o mensajes similares una y otra vez.
        </li>
        <li>
            Evitar intencionalmente el filtro de chat.
        </li>
        <li>
            Hablando de autolesiones u otras experiencias profundamente negativas.
        </li>
        <li>
            Regalos publicitarios (Lobby y Foro).
        </li>
    </ul>
    <br />
    <hr />
    <!-- 2. -->
    <h2>¿Quién es un jugador?</h2>
    <p>
        Todos los que juegan en Funpixart son jugadores;
        esto incluye a cualquier persona que juegue en el servidor independientemente del rango.
    </p>
    <br />
    <hr />
    <!-- 3. -->
    <h2>Uso de Hacks, Mods ilegales y Bugs</h2>
    <p>
        Los jugadores tienen derecho a jugar en un entorno que sea justo y libre de trampas y explotación.
        Para brindar una experiencia positiva en el juego para todos los jugadores y garantizar que los hacks,
        los trucos, las macros y otros comportamientos no se utilicen para obtener una ventaja injusta.
        Cualquier error en el servidor o dentro de Minecraft, para obtener una ventaja en el juego sobre otros jugadores,
        se considera como un juego injusto y no está permitido.
        Esto es para asegurar que los errores que surjan no se utilicen de manera abusiva para obtener una ventaja injusta en los juegos.
        Esto significa que no importa dónde se encuentren en el servidor, independientemente de la razón, las modificaciones del juego,
        el "engaño" o la explotación que da ventajas desleales a la jugabilidad están estrictamente prohibidas.
    </p>
    <br />
    <h4>La ventaja injusta significa que los jugadores no deben ser interrumpidos durante los juegos por alguno de los siguientes motivos:</h4>
    <ul>
        <li>
            Fomentando la trampa
        </li>
        <li>
            Autoclick/Macros
        </li>
        <li>
            Uso de equipo en juegos individuales
        </li>
        <li>
            Equipo de griefing
        </li>
        <li>
            Modificaciones no permitidas
        </li>
        <li>
            Prohibido cualquier uso de bug, ventaja, usado con la finalidad de duplicar el dinero de forma rápida.
        </li>
        <li>
            Prohibido cualquier uso de leveleo rápido, bug, en algún plugin.
        </li>
        <li>
            <b>
                Si detectas algo de lo anterior y es una gran ventaja en la que se gana mucho dinero o se avanza demasiado rápido,
                eso es un fallo que el Staff tiene que solventar, por tanto, rogamos que se nos comunique y no se use ni se difame su uso.
                La penalización es un baneo y la retirada del 80% de tu dinero.
            </b>
        </li>
    </ul>
    <br />
    <hr />
    <!-- 4. -->
    <h2>¿Qué Mods están permitidos?</h2>
    <p>
        Existen modificaciones que puedes usar en Funpixart.
        Estas son modificaciones cosméticas que muestran cantidades
        limitadas de información adicional que no te pueden dar una ventaja injusta en el juego.
    </p>
    <h4>Categorías de modificaciones permitidas:</h4>
    <ul>
        <li>
            Mods de mejora del rendimiento del cliente (por ejemplo, Optifine que mejora los FPS).
        </li>
        <li>
            Mods estéticos (por ejemplo, mods de shaders o packs de texturas).
        </li>
        <li>
            Mods de estado de Armadura y Efectos.
        </li>
        <li>
            Brillo y ajustes de gamma.
        </li>
    </ul>
    <p style="color:red;">* Todas las modificaciones se utilizan bajo su propio riesgo.</p>
    <br />
    <hr />
    <!-- 5. -->
    <h2>Contenido sensible y artístico</h2>
    <p>
        Alentamos a los jugadores a ser creativos en el arte y los diseños de una manera que no dañe la experiencia de los demás.
        Esto incluye todo el contenido, como dibujos, nombres de elementos, máscaras y capas, que son creados por los jugadores.
    </p>
    <p>
        Esta regla está implementada para proporcionar una experiencia positiva en el juego para todos los jugadores y
        proporcionar un entorno donde los conceptos y temas inapropiados no se comparten públicamente.
        Todos los jugadores tienen derecho a jugar en un entorno adecuado para una amplia gama de edades.
    </p>
    <p>
        Contenido sensible y artístico significa que los jugadores pueden expresarse con partes interactivas del servidor.
        Sin embargo, los jugadores también tienen derecho a no estar expuestos a cierto contenido;
    </p>
    <h3><b>Consulte la lista a continuación para conocer el contenido que debe ser informado al personal:</b></h3>
    <ul>
        <li>
            <b>Dibujos/edificios inapropiados:</b> imágenes racistas, ofensivos o sexuales
        </li>
        <li>
            <b>Nombres de elementos inapropiados:</b> insultos raciales, ofensivos o frases sexuales
        </li>
        <li>
            <b>Nombres inapropiados de mascotas:</b> insultos raciales, ofensivos o frases sexuales
        </li>
        <li>
            <b>Parcela de vivienda inadecuada:</b> gráfico de vivienda en torno a imágenes sexuales
        </li>
        <li>
            <b>Uso inapropiado de los artículos:</b> insultos raciales o frases sexuales usando sombreros, signos, nombres
        </li>
        <li>
            <b>Máscaras y capas inapropiadas:</b> imágenes racistas, ofensivos o sexuales
        </li>
        <li>
            <b>Nombres de usuario inapropiados:</b> racista, ofensivo, sexual o suplantando
        </li>
        <li>
            <b>Nombres y etiquetas inapropiados del clan:</b> racista, ofensivo, sexual o suplantando
        </li>
    </ul>
    <br />
    <hr />
    <!-- 6. -->
    <h2>Seguridad del jugador y la cuenta</h2>
    <p>Los jugadores tienen derecho a jugar en un entorno seguro contra phishing (robo) de cuentas, estafas y ventas de cuentas.</p>
    <p>
        La seguridad de los jugadores es muy importante para nosotros, por lo que siempre que sea posible,
        tomamos medidas para ayudar a proteger a nuestros jugadores de perder sus cuentas, ser engañados o estafados.
        <b>NO</b> compartas los detalles de tu cuenta de Minecraft con nadie más. Eres responsable de lo que sucede con tu cuenta,
        así que asegúrate de que tus contraseñas sean seguras y de que nunca se las des a nadie.
    </p>
    <p>
        El jugador y la seguridad de la cuenta significa que ha utilizado contraseñas realmente buenas y
        sólidas y no ha compartido su información con otros usuarios, en los que no confía, en el servidor.
        Hay varias formas en que su seguridad puede ser afectada.
    </p>
    <p><b>Algunos se enumeran a continuación:</b></p>
    <ul>
        <li>
            <b>Acceso a la cuenta no autorizada:</b> "Alerta de seguridad de la cuenta" se utilizará cuando sospechemos
            que su cuenta se está utilizando sin su consentimiento, le avisaremos con este mensaje.
        </li>
        <li>
            <b>Suplantación de identidad del personal:</b> insultos raciales, ofensivos o frases sexuales
        </li>
        <li>
            <b>Nombres inapropiados de mascotas:</b> pretender ser un miembro del personal (ayudante, moderador, administrador u otro)
        </li>
        <li>
            <b>Artículos o cuentas comerciales:</b> gráfico de vivienda en torno a imágenes sexuales
        </li>
        <li>
            <b>Estafa</b>
        </li>
        <li>
            <b>Enlaces de phishing (robo)</b>
        </li>
        <li>
            <b>Venta de cuenta</b>
        </li>
    </ul>

    <h3> ¿Cómo puedo obtener ayuda con la seguridad de mi cuenta?</h3>
    <p>Forma de obtener asistencia con la seguridad de su cuenta de Minecraft:</p>
    <ul>
        <li>
            <b>Póngase en contacto con soporte de Mojang (requieres tener Minecraft Premium).</b>
        </li>
    </ul>
    <p>
        Si eres Premium, automáticamente te logueas con la autentificación de Mojang y no precisas de contraseña,
        ya que alguien entrando con tu cuenta desde un cliente No Premium, no puede entrar.
    </p>
    <p style="color:red;">
        * Si eres No Premium y tienes problemas de acceso con tu cuenta, abre un ticket en nuestro discord explicando tu problema.
    </p>
    <p>
        <b>Te recomendamos:</b> Usa contraseñas seguras (al menos 12 caracteres), usa preguntas de seguridad con tu cuenta de Mojang,
        usa la autenticación de dos factores (2FA) con su dirección de correo electrónico
        si tu proveedor de correo electrónico lo admite, y lo más importante,
        <b>NO COMPARTAS</b> tu información de la cuenta con cualquier persona.
    </p>
    <h4>¿Cómo sé que alguien es un miembro del Staff?</h4>
    <p>Puede reconocer a los miembros del personal mirando sus etiquetas:</p>
    <ul>
        <li>Los ayudantes tendrán el prefijo: <p class="badge badge-info" style="font-size:11px; padding:0.1rem;">[Helper]</p></li>
        <li>Los constructores tendrán el prefijo: <p class="badge badge-warning" style="font-size:11px; padding:0.1rem;">[Builder]</p></li>
        <li>Los moderadores tendrán el prefijo: <p class="badge badge-info2" style="font-size:11px; padding:0.1rem;">[Mod]</p></li>
        <li>Los moderadores+ tendrán el prefijo: <p class="badge badge-info2" style="font-size:11px; padding:0.1rem;">[Mod+]</p></li>
        <li>Los administradores tendrán un prefijo: <p class="badge badge-success" style="font-size:11px; padding:0.1rem;">[Admin]</p></li>
        <li>El creador secundario tiene un prefijo: <p class="badge badge-danger2" style="font-size:11px; padding:0.1rem;">[Co-Owner]</p></li>
        <li>El creador tiene un prefijo: <p class="badge badge-danger2" style="font-size:11px; padding:0.1rem;">[Owner]</p></li>
    </ul>
    <br />
    <hr />
    <!-- 7. -->
    <h2>Spam</h2>
    <p>
        El Spam, o información basura, hace referencia a aquellos mensajes,
        que no son solicitados ni deseados por el usuario y que, por norma general, son enviados en grandes cantidades.
        Por consiguiente, el spam se caracteriza por ser anónimo, masivo y no demandado.
    </p>
    <p>
        Publicar enlaces a redes sociales, IP's de servidores o invitaciones de discord,
        incitación a cambio de rango/ítems a entrar a un servidor o hacer chantaje.
        Si se incumple esta norma, se te baneará permanentemente sin previo aviso.
    </p>

    <br />
    <hr />
    <!-- 8. -->
    <h2>
        ¿Qué hacer si sientes que alguien no ha seguido estas normas?
    </h2>
    <p>Si crees que alguien ha infringido algunas de estas reglas, infórmenos a través de nuestro discord y abre un ticket en reportes.</p>

    <br />
    <hr />
    <!-- 8. -->
    <h2>Sanciones</h2>
    <ul>
        <li>
            <b>Uso de hacks:</b> Ban de 7 días IP y cuenta. La segunda vez es ban permanente.
        </li>
        <li>
            <b>Multicuentas:</b> Ban permanente de IP y cuenta.
        </li>
        <li>
            <b>Spam:</b> Ban permanente de IP y cuenta.
        </li>
        <li>
            <b>Faltas de respeto:</b> 3 días de muteo global. Si se sigue por msg, 3 días de ban.
        </li>
        <li>
            <b>Todo lo restante:</b> A criterio del Staff que te amoneste en el momento.
        </li>
    </ul>
</div>
