@page "/terms"

@layout DocsLayout

<MenuHelp Title="Términos y condiciones" ActiveMenu=3 />

<div class="help-content">
    <h1 style="text-align:center;">Términos y condiciones</h1>
    <hr />
    <p style="font-size:12px; text-align:end;"><i><b>Actualizado:</b> 19/06/2022</i>- Sparkmod</p>
    <p>
        Los proveedores de ("Funpixart") del servicio proporcionado por este sitio web ("Funpixart")
        no son responsables del contenido y las cuentas generados por los usuarios.
        El contenido enviado expresa únicamente las opiniones de su autor.
    </p>

    <p>
        Este Servicio solo está disponible para usuarios que tengan al menos {edad} años de edad.
        Si es más joven que esto, no se registre en este Servicio.
        Si se registra en este Servicio, declara que tiene esta edad o más.
    </p>

    <p>
        Todo el contenido que envíe, cargue o ponga a disposición del Servicio ("Funpixart")
        puede ser revisado por miembros del personal. Todo el Contenido que envíe o cargue puede enviarse a
        servicios de verificación de terceros (incluidos, entre otros, servicios de prevención de spam).
        No envíe ningún Contenido que considere privado o confidencial.
    </p>

    <p>
        Usted acepta no utilizar el Servicio para enviar o vincular a cualquier Contenido que sea
        difamatorio, abusivo, odioso, amenazante, spam o similar al spam, que pueda ofender, que
        contenga contenido para adultos u objetable, que contenga información personal de otros,
        riesgos infracción de derechos de autor, fomenta actividades ilegales o viola cualquier ley.
        Usted es completamente responsable por el contenido y cualquier daño resultante de ese Contenido o su conducta.
    </p>

    <p>
        Podemos eliminar o modificar cualquier Contenido enviado en cualquier momento, con o sin causa, con o sin previo aviso.
        Las solicitudes de eliminación o modificación del contenido se realizarán solo a nuestro criterio.
        Podemos cancelar su acceso a todo o parte del Servicio en cualquier momento, con o sin causa, con o sin previo aviso.
    </p>

    <p>
        Nos está otorgando una licencia no exclusiva, permanente, irrevocable e ilimitada para usar,
        publicar o volver a publicar su Contenido en relación con el Servicio.
        Usted conserva los derechos de autor sobre el Contenido.
    </p>

    <p>
        Estos términos pueden modificarse en cualquier momento sin previo aviso.
        Si no está de acuerdo con estos términos, no se registre ni use el Servicio.
        El uso del Servicio constituye la aceptación de estos términos. Si desea cerrar su cuenta, por favor contáctenos.
    </p>
</div>
