@page "/vote"

@layout DocsLayout

<div class="help-content">
    <div style="display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;">
        <div style="border: solid 2px #665d44; padding: 0 0.4rem; margin:0.1rem 0.4rem; border-radius:4px;">
            <h3><b>1. 40servidores mc</b></h3>
            <a href='https://www.40servidoresmc.es/funpixart' target='_blank'><img style='max-width:160px;' src='https://www.40servidoresmc.es/img/botonvota.png' alt='Servidores de Minecraft 40servidoresM., Vota por Funpixart'></a>

        </div>
        <div style="border: solid 2px #665d44; padding: 0.1rem 0.4rem; margin:0.1rem 0.4rem; border-radius:4px;">
            <h3><b>2. Topg.org</b></h3>
            <a href="https://topg.org/minecraft-servers/server-644691" target="_blank"><img src="https://topg.org/topg.gif" width="88" height="53" border="0" alt="Funpixart - Minecraft server"></a>
        </div>
        <div style="border: solid 2px #665d44; padding: 0.1rem 0.4rem; margin:0.1rem 0.4rem; border-radius:4px;">
            <h3><b>3. Minecraftservers.org</b></h3>
            <a href="https://minecraftservers.org/server/637520" target="_blank"><img src="https://status.minecraftservers.org/classic/637520.png" alt="Funpixart Minecraft server" width="540" height="90" /></a>
        </div>
        <div style="border: solid 2px #665d44; padding: 0.1rem 0.4rem; margin:0.1rem 0.4rem; border-radius:4px;">
            <h3><b>4. Minecraft-mp.com</b></h3>
            <a href="https://minecraft-mp.com/server-s306127" target="_blank"><img src="https://minecraft-mp.com/banner-306127.png" border="0"></a>
        </div>
        <div style="border: solid 2px #665d44; padding: 0.1rem 0.4rem; margin:0.1rem 0.4rem; border-radius:4px;">
            <h3><b>5. Topminecraftservers.org</b></h3>
            <a href="https://topminecraftservers.org/server/28078" target="_blank"><img src="https://topminecraftservers.org/banners/28078.gif" border="0"></a>
        </div>
        <div style="border: solid 2px #665d44; padding: 0.1rem 0.4rem; margin:0.1rem 0.4rem; border-radius:4px;">
            <h3><b>6. Minecraftlist.org</b></h3>
            <a href="https://minecraftlist.org/server/28954" target="_blank"><img src="/img/server-banner 2.gif" /></a>
        </div>
        <div style="border: solid 2px #665d44; padding: 0.1rem 0.4rem; margin:0.1rem 0.4rem; border-radius:4px;">
            <h3><b>7. Minecraft-server.net</b></h3>
            <a href="https://minecraft-server.net/details/Funpixart/" target="_blank"><img src="/img/server-banner 2.gif" /></a>
        </div>
    </div>
</div>